<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683659309967-3p2d7she3e6c7lorn5mlqte1fj8gghdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683659309967-3p2d7she3e6c7lorn5mlqte1fj8gghdk</string>
	<key>API_KEY</key>
	<string>AIzaSyA2co9GQgJjnUzz93d0XODcF_SwXFY16tM</string>
	<key>GCM_SENDER_ID</key>
	<string>683659309967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.noteapp</string>
	<key>PROJECT_ID</key>
	<string>note-app-535bf</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-535bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683659309967:ios:ff4f1d15af355265f611fa</string>
</dict>
</plist>